@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.label {
  padding: 0.5rem 1.5rem;
  background-color: rgb(255, 255, 255/ 80%);
  border-radius: 0.5 rem;
  box-shadow: 0 0 0.5rem rgb(0, 0, 0 ,0.2);
  pointer-events: none;
  text-align: center;
}

.label_price {
  font-size: 2rem;
  font-weight: bold;
}

.label_name {
  font-size: 1rem;
  color: #999;
}
